@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --minWidth: 500px;
}

* {
    box-sizing: border-box;
    /* IE */
    font-family: 'Ubuntu';
}

body {
    padding: 10%;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    min-width: var(--minWidth);
}

h2.day {
    color: rgb(0 173 255);
    text-align: center;
    width: 100%;
    min-width: var(--minWidth);
}

.btn-save {
    border: 0px;
    background-color: #ffffff;
    color:rgb(0 173 255);
    cursor: pointer;
}

.btn-save i {
    color:rgb(0 173 255);
}

.btn-save:hover {
    color:rgb(0, 103, 151);
}
.btn-save i:hover {
    color:rgb(0, 103, 151);
}

.input-box > div {
    display: flex;
    border: 3px solid #dddddd;
    padding: 15px;
    border-radius: 10px;
    min-width: var(--minWidth);
}

.input-box .check-group  {
    width: 120px;
    margin: auto;
    cursor: pointer;
}
.check-group input, .check-group label {
    cursor: pointer;
}
.selected {
    font-weight: bold;
}

.input-box input[type=text] {
    font-size: 1em;
    border: 1px;
    width: 100%;
}

.input-box input[type=text]:focus {
    outline: none;
}

.content-box {
    margin-top: 5%;
    padding: 15px;
    background-color: rgb(3 81 126 / 71%);
    min-width: var(--minWidth);
}

.content-box .daily {
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
}

.content-box .time {
    font-size: small;
    font-weight: bold;
    display: block;
    width: max-content;
}
.content-box .play-group {
    display: inline-flex;
    letter-spacing: 3px;
    margin: 0px 3px;
}
.content-box .time i:first-child:after {
    content: '\7c';
    margin: 0px 3px;
    font-size: 15px;
}
.content-box .time i:first-child.without-after-element:after {
    content: none;
}
.grid-container {
    display: grid;
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 5px;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: minmax(0, 1fr) auto;
    grid-template-areas:
        'grid-check-zone grid-content-zone grid-close-zone'
        'grid-check-zone grid-content-zone grid-close-zone';
    gap: 10px;
    margin: 10px 0px;
}

.grid-item1 {
    grid-area: grid-check-zone;
    margin: auto;
}

.grid-item2 {
    grid-area: grid-time-zone;
    border: 2px solid rgb(255 201 0);
    border-radius: 4px;
    outline: 1px solid tomato;
    padding: 3px;
    background-color: rgb(251, 255, 3);
    display: none;
    width: min-content;
}
.time-completed {
    background-color: #c5c5c5;
    border: 2px solid #707070;
    outline: 1px solid #000000;
}

.grid-item3 {
    grid-area: grid-content-zone;
}
.completed{
    text-decoration: line-through;
}

.grid-item4 {
    grid-area: grid-close-zone;
}
.grid-item4 span{
    display: block;
    float: right;
    margin-right: 15px;
}

i.fa-play,
i.fa-pause,
i.fa-xmark {
    cursor: pointer;
}

.fa-clock::before {
    margin-right: 3px;
}
@media screen and (max-width: 700px) {
    body {
        padding: 30px;
    }
}