*  {
    font-family: "Gill Sans", sans-serif;
}
body {
    background-color: rgba(103, 161, 189, 0.897);
}
.container{
    text-align: center;
    margin-top:23px;
}
table{
    border-spacing: 0;
}
table tr td {
    padding: 0px;
    border: 1px solid rgb(92, 92, 92);
}
.calculator_display{
    background-color:  #242424;
    font-size: 50px;
    text-align: right;
    padding: 5%;
    color: #eeeeee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

button{
    font-size: 40px;
    background: #ffffff;
    width: 130px;
    height: 80px;
    border: 0;
}
h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.calculator{ 
    width: 50%;
    margin: auto;
}
.operator_container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
}
.operator_container td button {
    background-color: #a3a3a32c;
}
.number_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.number_container > button {
    width: 130px;
    border: 1px solid #a3a3a3;
}