@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(136, 182, 135);
  --primary-color-darker: rgb(85, 112, 84);
}

* {
  box-sizing: border-box;
  outline: 0;
  padding:0;
  margin:0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
h1{
  text-align:center;
  margin:10px 0;
}
.watch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}
h2{
  font-size:3em;
  font-weight:400;
  height: 50px;
  width: 335px;
}
h2.paused{
  color:red;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}
.buttons button{
  margin:0 5px;
  border:none;
  padding:10px;
  background-color: var(--primary-color-darker);
  color:#FFF;
  text-transform:uppercase;
  letter-spacing:0.1em;
  border-radius:5px;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: rgb(255, 42, 42);
  display: inline-block;
  line-height: 40px;
}
@keyframes countdown {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
  to {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
}

svg {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
}

svg .circle {
  stroke: rgba(188, 0, 84, 1);
  stroke-width: 16;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 30s circletimer linear;
}

    
svg  .base {
  stroke: rgba(188, 0, 84, 1);
  stroke-width: 16;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 30s circletimer ;
}

.timers {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(188, 0, 84, 1);
  font-size: 42px;
  font-weight: 700;
}
